In [2]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
!pip install fastparquet

Collecting fastparquet
  Using cached fastparquet-2024.11.0-cp312-cp312-win_amd64.whl.metadata (4.3 kB)
Requirement already satisfied: pandas>=1.5.0 in c:\users\hp\anaconda3\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from fastparquet) (1.26.4)
Collecting cramjam>=2.3 (from fastparquet)
  Using cached cramjam-2.10.0-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: fsspec in c:\users\hp\anaconda3\lib\site-packages (from fastparquet) (2024.3.1)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Using cached fastparquet-2024.11.0-cp312-cp312-win_amd64.whl (673 kB)
Using cached cramjam-2.10.0-cp312-cp312-win_amd64.whl (1.7 MB)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.10.0 fastparquet-2024.11.0

In [4]:
parquet_file ="C:/Users/HP/2_docker_sql/yellow_tripdata_2025-01.parquet"
df =pd.read_parquet(parquet_file)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [6]:
df.to_csv('C:/Users/HP/2_docker_sql/yellow_tripdata_2025-01.csv')

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_pickup_datetime)

In [8]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [9]:
pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (2.0.30)
Collecting psycopg2
  Using cached psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Using cached psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [14]:
df_iter =pd.read_csv('yellow_tripdata_2025-01.csv', iterator =True, chunksize=100000)

In [15]:
df =next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_pickup_datetime)

In [18]:
df.head(n=0)

Empty DataFrame
Columns: [Unnamed: 0, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []

[0 rows x 21 columns]

In [19]:
df.head(n=0).to_sql(name ='yellow_taxi_data',con=engine, if_exists='replace')

0

In [20]:
%time df.to_sql(name ='yellow_taxi_data', con =engine, if_exists='append')

CPU times: total: 7.28 s
Wall time: 12 s

1000

In [21]:

from time import time

In [22]:
while True:
    t_start = time()
    df =next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name ='yellow_taxi_data', con =engine, if_exists='append')
    t_end =time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 11.806 second
inserted another chunk, took 11.830 second
inserted another chunk, took 12.279 second
inserted another chunk, took 11.817 second
inserted another chunk, took 11.357 second
inserted another chunk, took 11.497 second
inserted another chunk, took 12.540 second
inserted another chunk, took 12.933 second
inserted another chunk, took 12.586 second
inserted another chunk, took 12.954 second
inserted another chunk, took 12.274 second
inserted another chunk, took 12.251 second
inserted another chunk, took 13.006 second
inserted another chunk, took 12.192 second
inserted another chunk, took 12.613 second
inserted another chunk, took 12.742 second
inserted another chunk, took 12.764 second
inserted another chunk, took 12.696 second
inserted another chunk, took 12.877 second
inserted another chunk, took 12.901 second
inserted another chunk, took 12.388 second
inserted another chunk, took 12.199 second
inserted another chunk, took 12.063 second
inserted another chunk, took 12.012 second
inserted another chunk, took 12.333 second
inserted another chunk, took 11.967 second
inserted another chunk, took 11.601 second
inserted another chunk, took 11.592 second

C:\Users\HP\AppData\Local\Temp\ipykernel_30784\1785675644.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df =next(df_iter)

inserted another chunk, took 11.051 second
inserted another chunk, took 11.135 second
inserted another chunk, took 11.628 second
inserted another chunk, took 11.008 second
inserted another chunk, took 11.302 second
inserted another chunk, took 8.559 second

StopIteration:

In [7]:
df_zones=pd.read_csv('taxi_zone_lookup (1).csv')

In [8]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name ='zones',con=engine, if_exists='replace')

265